.slider-gutter {
    white-space: nowrap;
    background-color: #222;
    overflow: hidden;
}

.slider {
    padding-block: 25px;
    font-size: 25px;
    font-weight: 700;
    animation: words-slider 10s linear infinite;
    display: inline-block;
}

.slider span {
    margin: 0 40px;
}

.slider-2 {
    animation-duration: 22s;
}

.slider ion-icon {
    font-size: 30px;
}

ion-icon[name='arrow-forward-outline'] {
    transform: rotateZ(-40deg);
    font-size: 20px !important;
    padding: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
}

.class:hover img,
.trainer:hover img {
    opacity: 20%;
}

.class:hover :is(.transform-on-hover, h3),
.trainer:hover :is(.transform-on-hover, h4) {
    transform: translateY(0);
    opacity: 1;
}

.trainer:hover .trainer-content {
    transform: translateY(-20%);
    background-image: none;
}

.trainer:hover h4 {
    font-size: 25px;
}

.class-info,
.trainer-content {
    background-image: linear-gradient(to top, #000, 60%, transparent);
}

ion-icon[name='arrow-forward-outline']:hover {
    color: black;
    /* outline: 2px solid black;
  outline-offset: -2px; */
    background-color: white;
    transform: scale(1.5) rotateZ(-50deg);
    /* box-shadow: 0 0 50px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.3) inset, 0 0 20px #91ff00; */
}

.transform-on-hover ion-icon {
    font-size: 20px;
}

@keyframes words-slider {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@media (max-width: 618px) {
    .slider {
        font-size: 16px;
        padding-block: 15px;
    }

    .slider ion-icon {
        font-size: 20px;
    }
}