@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

:root {
  --padding-inline: calc(calc(100vw - 1200px) / 2);
}

body {
  font-size: 20px;
  color: white;
  background-color: #000;
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 34px;
}

h2 {
  width: max-content;
  font-size: 34px;
  position: relative;
  margin: 150px auto 50px;
  overflow-y: visible;
  /* wor */
}

h2::before,
h2::after {
  content: '';
  position: absolute;
  background-color: #90FF00;
  height: 6px;
  width: 40%;
}

h2::before {
  top: -13px;
  right: -15%;
}

h2::after {
  bottom: -10px;
  left: -15%;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 20px;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  color: #aaa;
  line-height: 1.6;
  max-width: 40ch;
}

a {
  color: inherit;
  text-decoration: none;
}

ion-icon {
  cursor: pointer;
  font-size: 2rem;
}

.container-css {
  padding-inline: var(--padding-inline);
}

.secondary-font {
  font-family: 'Bebas Neue', sans-serif;
}

.img-shadow {
  box-shadow: -18px 20px #91ff00;
}

nav {
  background-color: #111;
}

nav ion-icon {
  display: none;
  z-index: 15;
}

button {
  border: none;
  padding: 5px 20px;
  font-weight: bold;
}

.btn-primary {
  color: #000;
  background-color: #fff;
}

.btn-highlighter {
  font-weight: 900;
  color: #000;
  background-color: #90FF00;
  padding: 10px 24px;
}

input {
  border: none;
  padding: 5px 10px;
}

input:focus {
  outline: none;
}

.text-highlighter {
  color: #90FF00;
}

.carousel {
  width: 65%;
  animation: carousel 15s linear infinite;
  transform: translateX(0%);
}

#testimonials .container-css .snap-mandatory::-webkit-scrollbar {
  display: none;
}

/* Footer */
footer {
  padding-block: 50px;
  background-color: #111;
}

footer input {
  background-color: transparent;
  border-bottom: 1px solid #808080;
}

footer ion-icon[name="paper-plane-outline"] {
  font-size: 20px;
  color: #808080;
  position: absolute;
  top: 50%;
  left: 200px;
  transform: translate(-50%, -50%);
}

.socials ion-icon {
  font-size: 25px;
  margin-inline: 5px;
  color: #556175;
}

.socials ion-icon:hover {
  color: white;
}

@media (max-width: 618px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  nav ul {
    font-size: 2rem;
    position: fixed;
    bottom: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #111;
    flex-direction: column;
    justify-content: center;
    z-index: 15;
  }

  .nav-toggle {
    bottom: 0 !important;
  }

  nav ion-icon {
    display: block;
  }

  .body-toggle {
    overflow-y: hidden !important;
  }
}

@media (max-width: 1300px) {
  :root {
    --padding-inline: 30px;
  }
}

/* animations */
.image-snap {
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.image-snap-full img {
  transition-duration: 350ms;
  height: 100% !important;
  width: 100% !important;
}

.image-pop-out img {
  transition-duration: 300ms;
  transform: scale(1);
}